<p>data works!</p>

<form [formGroup]="infoForm" >firstName :



<input type="firstName" formControlName="firstName">

<br>lastName:
<input type="lastName" formControlName="lastName">
</form>





<form [formGroup]="loginForm" (ngSubmit)="toValidForm()"    >firstName :


<!-- <br> Profession :
<input type="profession" formControlName="profession" > -->


<br> workStations:
<input type="experiencesPost" formControlName="experiencesPost" >
<button type="submit">submit</button>



<br> company:
<input type="experiencesNames" formControlName="experiencesNames" >
<button type="submit">submit</button>


<br> Town :
<input type="experiencesTown" formControlName="experiencesTown" >
<button type="submit">submit</button>




<br> Experiences Years
<input type="experiencesYears" formControlName="experiencesYears"> 
<button type="submit">submit</button>


<br> Experiences begin :
<input type="experiencesStart" formControlName="experiencesStart"> 
<button type="submit">submit</button>

<br> Experiences ending :
<input type="experiencesEnding" formControlName="experiencesEnding"> 
<button type="submit">submit</button>


<br> Main Mission :
<textarea type="experiencesMission" formControlName="experiencesMission"></textarea> 
<button type="submit">submit</button>




</form>


